django==3.1.7
django-behaviors
django-cors-headers
django-environ
django-model-utils
django-datetime-helpers
django_dramatiq
django-cleanup

djangorestframework
djangorestframework-recursive
djangorestframework_simplejwt
djangorestframework-dataclasses

psycopg2-binary
dramatiq[rabbitmq,watch]
periodiq
Pillow
requests
pyfunctional
coreschema
coreapi
channels
uwsgi

sentry-sdk
sentry-dramatiq
slack_sdk
python-logstash
